<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../static/gnu_arg4rm.ico">
        <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link href="../static/bootstrap.min.css" rel="stylesheet">
        <link href="../static/navbar-fixed-top.css" rel="stylesheet">
        <link href="../static/bootstrap-datetimepicker.min.css" rel="stylesheet">
        {% block script %}
        <!-- 把jquery换成1.10终于可以使用datetimepicker了 -->
        <script type=text/javascript src="{{url_for('static', filename='jquery-1.10.min.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='bootstrap.min.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='bootstrap-datetimepicker.min.js') }}"></script>
        <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        </script>
        {% endblock %}
    </head>

    <body>
        {% block navBar %}
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">Arg4rm</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <!-- 这里写入顶层左侧导航-->
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        {% if current_user.roleId == 2 %}
                        <li><a href="{{ url_for('rooms') }}">Room</a></li> {% endif %}
                        <li>
                            <a href="{{ url_for('arranges') }}">Arrange</a>
                        </li>
                        <li>
                            <a href=""></a>
                        </li>

                        <!-- 下拉列表-->
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="http://v3.bootcss.com/examples/navbar-fixed-top/#">Action</a></li>
                                <li><a href="http://v3.bootcss.com/examples/navbar-fixed-top/#">Another action</a></li>
                                <li><a href="http://v3.bootcss.com/examples/navbar-fixed-top/#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="http://v3.bootcss.com/examples/navbar-fixed-top/#">Separated link</a></li>
                                <li><a href="http://v3.bootcss.com/examples/navbar-fixed-top/#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>


                    <ul class="nav navbar-nav navbar-right">
                        <!--顶层右侧导航  -->
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">登出</a></li>
                        {% else %}
                        <li><a href="{{ url_for('register') }}">注册</a></li>
                        <li><a href="{{ url_for('login') }}">登入</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>

        {% endblock %}

        <div class="container">
            <!-- Main component for a primary marketing message or call to action -->
            {% block content %}
            <div class="jumbotron">
                <h1>Navbar example</h1>
                <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
                <p>To see the difference between static and fixed top navbars, just scroll.</p>
                <p>
                    <a class="btn btn-lg btn-primary" href="http://v3.bootcss.com/components/#navbar" role="button">View navbar docs »</a>
                </p>
            </div>
            {% endblock %}

        </div>
        <!-- /container -->
        {% block footer %}
        {% endblock %}

</html>
