<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="http://v3.bootcss.com/favicon.ico">
        <title>Login</title>
        <link href="../static/bootstrap.min.css" rel="stylesheet">
        <link href="../static/signin.css" rel="stylesheet">
    </head>

    <body>
        {% import "bootstrap/wtf.html" as wtf %}
        <div class="container, form-signin">
            <!-- <form class="form-signin"> -->
            <h2 class="form-signin-heading">Please sign up</h2>
            <hr> {{ wtf.quick_form(form) }}
        </div>
        <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
     -->
        <!-- </form> -->
        </div>
        <!-- /container -->

</html>
